.container {
  padding: 0 1rem 1rem;
  overflow-x: auto;
}

.header {
  display: flex;
  border-bottom: 2px solid #eee;
  font-weight: 600;
  color: #4b5563;
  font-size: 0.9375rem;
  width: 100%;
  text-align: left;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cell-map {
  flex: 3;
  width: 20%;
  min-width: 120px;
}

.cell-score {
  flex: 0.5;
  width: 5%;
  min-width: 50px;
  text-align: center;
}

.cell-date {
  flex: 0.75;
  width: 10%;
  min-width: 75px;
}

.cell-type {
  flex: 0.75;
  width: 2.5%;
  min-width: 25px;
  text-align: center;
}

.cell-hazard {
  flex: 0.75;
  width: 7.5%;
  min-width: 75px;
  text-align: center;
}

.cell-rank {
  flex: 2.5;
  width: 12%;
  min-width: 100px;
  text-align: left;
}

.cell-note {
  flex: 3;
  width: 25%;
  min-width: 150px;
  text-align: left;
}

.cell-actions {
  flex: 0.8;
  width: 5%;
  min-width: 80px;
  display: flex;
  justify-content: space-evenly;
}

.header-cell {
  padding: 1rem 0.75rem;
  flex-shrink: 0;
}

@media (max-width: 900px) {
  .header {
    font-size: 0.85rem;
  }

  .cell-hazard,
  .header-cell.cell-hazard {
    display: none;
  }
}

@media (max-width: 768px) {

  .cell-rank,
  .header-cell.cell-rank,
  .cell-note,
  .header-cell.cell-note {
    display: none;
  }
}

@media (max-width: 640px) {
  .header {
    display: none;
  }

  .cell-map,
  .cell-score,
  .cell-date,
  .cell-type,
  .cell-actions {
    width: 90%;
  }

  .cell-score,
  .cell-type {
    text-align: left;
  }

  .cell-map {
    font-weight: 600;
    font-size: 1.1rem;
    border-bottom: 1px solid #f1f5f9;
  }

  .cell-actions {
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 0.5rem;
    border-top: 1px solid #f1f5f9;
    padding-top: 0.75rem;
  }

  .cell-actions:before {
    content: none;
  }

  .container {
    padding: 1rem;
  }
}
